/* Utilities */

.container {
  max-width: 80rem;
}

/* Main */

.card {
  width: 100%;
}

.card .product-info {
  margin-left:2rem;
  width: 80%;
}

.preview {
  width: 10%;
}

.card-preview {
  width: 100%;
  margin-bottom: 1.5rem;
}

.discount-ad {
  border: 1px solid gray;
  padding: 2rem;
  margin-block: 2rem;
  line-height: 1.4rem;
}


.discount-code {
  font-size: 1.8rem;
  font-weight: bold;
  margin-top: 0.8rem;
}

.discover {
  font-weight: bold;
  color: rgb(98, 60, 210);
  margin-top: 1rem;
}


/* Text */ 

.brand {
  font-size: 1.5rem;
} 

.article {
  font-size: 2.5rem;
}

.price {
  font-size: 1.8rem;
  font-weight: normal;
  margin-top: 1rem;
  color: black;
}

.IVA {
  font-size: 1.3rem;
  margin-left: 1rem;
  color: gray;
}


/* Hover */

.card-preview:hover {
  cursor: pointer;
  border: 1px solid black;
}

.size select {
  width: 100%;
  height: 3rem;
  padding-inline:1rem;
  font-size:1.2rem;
  color: gray;
}

.add-to-bag {
  margin-top: 1rem;
  color:black;
  height: 3.64rem;
}

.add-to-bag-btn {
  background-color: black;
  color: white;
  width: 100%;
  height: 100%;
  
  padding-top: 1rem;
  
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
}

.add-to-bag-btn:hover {
  cursor: pointer;
}

.add-to-bag .fa-heart{
  padding-block: 1rem;
  border: 1px solid black;
  position: static;
}

.add-to-bag .fa-heart:hover {
  color:black; 
  /* To avoid using the color: red
  inherited*/
}


/* Details/Summary */

summary {
  list-style: none;
}