/* Utilities */

main .container {
  max-width: 80rem;
}

/* Main */

.card {
  width: 100%;
}

.card .product-info {
  width: 80%;
}

.preview {
  width: 10%;
}

.card-preview {
  width: 100%;
  margin-bottom: 1.5rem;
}

.product-info {

  .brand {
    font-size: 1.5rem;
  } 

  .article {
    font-size: 2.5rem;
  }

  .price {
    font-size: 1.8rem;
    font-weight: normal;
    margin-top: 1rem;
    color: black;
  }

  .IVA {
    font-size: 1.3rem;
    margin-left: 1rem;
    color: gray;
  }
}

.discount-ad {
  width: 80%;
  border: 1px solid gray;
  padding: 2rem;
  margin-block: 2rem;
  line-height: 1.4rem;
}


.discount-code {
  font-size: 1.8rem;
  font-weight: bold;
  margin-top: 0.8rem;
}

.discover {
  font-weight: bold;
  color: rgb(98, 60, 210);
  margin-top: 1rem;
}
