* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Outfit;
}

html, body {
  height: 100%;
}

/* Utilities */

.container {
  width: 80%;
  margin: 0 auto;
}

.d-flex {
  display: flex;
  gap:2%;
}

header .d-flex{
  gap: 1rem;
}

.wrap {
  flex-wrap: wrap;
}

.justify-content-sb {
  justify-content: space-between;
}

.align-items-c {
  align-items: center;
}


/* Header */

header {
  height: 6%;
  background-color: orange;
  box-shadow:0px 1px 10px rgba(0, 0, 0, 0.305);
}

header > nav {
  height: 100%;
  min-height: 3rem;
}

.logo img {
  max-height: 2rem;
  height: 100%;
}


/* Main */

main {
  margin-block: 3rem;
}


/* Cards */

.card {
  width: 30%;
  margin-bottom: 4rem;
}

.card .card-img {
  width: 100%;
  display: block;
  width: 100%;
  height: auto;
}


/* Footer */

footer {
  height: 8rem;
  background-color: rgb(35, 34, 38);
}

footer > * > div.left-container {
  width: 40%;
}

footer > * > div {
  padding-top: 2rem;
}


/* Position */

header {
  position: sticky;
  top:0;
  z-index: 1;
}

.card > div:first-child {
  position: relative;
  display: inline-block;
}

.card .fa-heart {
  position: absolute;
  top: 6%;
  left: 90%;
  font-size: 1.5rem;
  cursor: pointer;

  transform: translate(-50%, -50%);
}

.discount-tenable {
  position: absolute;
  bottom: 6%;
  left: 0;
}


/* Text */

nav {
  color: white;
  font-weight: bold;
}

.discount {
  font-weight: bold;
  
  padding-inline: 1rem;
  padding-block: 0.3rem;

  background-color: #e60000;
  color: white;
}

.tenable {
  font-weight: bold;

  padding-inline: 1rem;
  padding-block: 0.3rem;

  background-color: #079500;
  color: white;
}

.price {
  color:red;
  font-weight: bold;
}

s {
  color: gray;
  font-weight: normal;
}

.brand {
  font-size: 0.9rem;
}

.article {
  font-size: 1rem;
  font-weight: 600;
}

footer {
  color: white;
}

footer > * > div {
  line-height: 1.8rem;
}

.left-container ul {
  list-style: none;
}

.left-container h4 {
  font-size: 1.2rem;
}

.right-container .socials {
  font-size: 1.4rem;
}