* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Outfit;
}

html, body {
  height: 100%;
}

/* Utilities */

.container {
  width: 80%;
  margin: 0 auto;
}

.d-flex {
  display: flex;
  gap:2%;
}

.wrap {
  flex-wrap: wrap;
}

.justify-content-sb {
  justify-content: space-between;
}

.align-items-c {
  align-items: center;
}


/* Header */

header > div {
  height: 5%;
  min-height: 3rem;
  background-color: orange;
}


/* Main */

main {
  margin-block: 3rem;
}


/* Cards */

.card {
  width: 30%;
  margin-bottom: 4rem;
}

.card .card-img {
  width: 100%;
  display: block;
  width: 100%;
  height: auto;
}


/* Position */

.card > div:first-child {
  position: relative;
  display: inline-block;
}

.card .fa-heart {
  position: absolute;
  top: 6%;
  left: 90%;
  font-size: 1.5rem;
  cursor: pointer;

  transform: translate(-50%, -50%);
}

.discount-tenable {
  position: absolute;
  bottom: 6%;
  left: 0;
}


/* Text */

.discount {
  font-weight: bold;
  
  padding-inline: 1rem;
  padding-block: 0.3rem;

  background-color: #e60000;
  color: white;
}

.tenable {
  font-weight: bold;

  padding-inline: 1rem;
  padding-block: 0.3rem;

  background-color: #079500;
  color: white;
}

.price {
  color:red;
  font-weight: bold;
}

s {
  color: gray;
  font-weight: normal;
}

.brand {
  font-size: 0.9rem;
}

.article {
  font-size: 1rem;
  font-weight: 600;
}