* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

/* Utilities */

.container {
  width: 80%;
  margin: 0 auto;
}

.d-flex {
  display: flex;
}

.justify-content-sb {
  justify-content: space-between;
}

.align-items-c {
  align-items: center;
}


/* Header */

header > div {
  height: 5%;
  min-height: 3rem;
  background-color: orange;
}


/* Main */

main {
  margin-block: 3rem;
}


/* Cards */

.card .card-img {
  max-width: 20rem;
  display: block;
  width: 100%;
  height: auto;
}


/* Position */

.card > div:first-child {
  position: relative;
  display: inline-block;
}

.card .fa-heart {
  position: absolute;
  top: 6%;
  left: 90%;
  font-size: 1.5rem;
  cursor: pointer;

  transform: translate(-50%, -50%);
}

.discount-tenable {
  position: absolute;
  bottom: 6%;
  left: 3%;
}

.discount {
  font-weight: bold;
  color: #e60000;
}